.vscode-test/**
.vscode-test.mjs
.vscode/**
src/**
test/**
out/**
node_modules/**
esbuild.mjs
.gitignore
.eslintrc*
eslint.config.mjs
tsconfig.json
tsconfig.tsbuildinfo
*.vsix
**/*.map
**/.gitkeep
CONTRIBUTING.md
